@import "tailwindcss";
body.theme-initializing {
    opacity: 0;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #FCBB01;
    --color-secondary: #E0A809;
    --color-helper: #F8C941;
    --color-secondaryHelper: #B59740;
    --color-black-300: #171717;
    --color-black-400: #000000;
    --color-gray-300: #989BA3;
    --color-gray-400: #5C5E62;
    --color-light-200: #FAFBFA;
    --color-light-300: #F4F6F1;
    --color-light-400: #E6E9E4;
    --color-white: #FFFFFF;
    --color-error: #CE1515;
    --color-backgroundColor: #F9F9FB;
    --color-darkBackgroundColor: #131314;
    --color-transparent: transparent;

    --radius-main: 6px;
    --radius-full: 128px;
    --radius-xl: 12px;
    --radius-none: 0px;

    --breakpoint-xxl: 1600px;
    --breakpoint-xl: 1240px;
    --breakpoint-lg: 992px;
    --breakpoint-md: 768px;
    --breakpoint-sm: 576px;
    --breakpoint-xs: 415px;

    --animate-linear-line: linear-line 10s ease-in-out 1s 9999 alternate forwards;
    --animate-linear-line-reverse: linear-line 10s ease-in-out 1s 9999 alternate-reverse forwards;
    --animate-h1: h1 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.8s 1 reverse both;
    --animate-img: img 1s cubic-bezier(0.5, 1, 0.89, 1) 0.5s 1 normal backwards;

    @keyframes h1 {
        0% {
            opacity: 1;
            transform: rotateX(0deg);
            transform-origin: top;
        }
        100% {
            opacity: 0;
            transform: rotateX(70deg);
            transform-origin: top;
        }
    }

    @keyframes img {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes linear-line {
        0% {
            top: 0;
        }
        100% {
            top: 100%;
        }
    }

    @keyframes linear-line-reverse {
        0% {
            bottom: 0;
        }
        100% {
            bottom: 100%;
        }
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 20px;
}

body {
    @apply bg-backgroundColor overflow-x-hidden dark:bg-darkBackgroundColor;

    > main {
        @apply overflow-x-hidden;
    }
}

.container {
    @apply max-w-[1240px];
}

.clashGroteskFamily {
    font-family: '__ClashGrotesk_c8ff71', '__ClashGrotesk_Fallback_c8ff71', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.static-page {
    h1 {
        font-family: '__ClashGrotesk_c8ff71', '__ClashGrotesk_Fallback_c8ff71', sans-serif;
        font-weight: 400;
        font-style: normal;

        @apply
        text-[74px] leading-[78px] tracking-[-2.22px] text-black-400 dark:text-white xl:text-[54px] xl:leading-[58px] sm:text-[44px] sm:leading-[48px];
    }

    h2 {
        @apply
        text-[60px] leading-[74px] tracking-[-1.8px] text-black-300 dark:text-light-400 lg:text-[50px] lg:leading-[64px] sm:text-[34px] sm:leading-[44px];
    }

    h3 {
        @apply
        text-[48px] leading-[54px] tracking-[-1.44px] text-black-300 dark:text-light-400 xl:text-[38px] xl:leading-[44px] sm:text-[28px] sm:leading-[34px];
    }

    h4 {
        @apply
        text-[36px] leading-[42px] tracking-[-1.08px] text-black-300 dark:text-light-400 sm:text-[24px] sm:leading-[32px];
    }

    p, a {
        @apply
        text-[18px] leading-[38px] tracking-[-0.54px] text-gray-400 dark:text-light-400;
    }

    a {
        @apply
        duration-300 ease-in-out hover:text-primary
    }

    ul {
        @apply
        flex flex-col gap-[8px]
    }

    ul li {
        @apply
        flex text-[18px] leading-[38px] tracking-[-0.54px] text-gray-400 dark:text-light-400 before:mr-[22px] lg:before:mr-[12px] before:mt-[14px] before:inline-block before:min-w-[10px] before:h-[10px] before:border before:border-secondary before:rounded-full
    }
}

/*:root {*/
/*    --foreground-rgb: 0, 0, 0;*/
/*    --background-start-rgb: 214, 219, 220;*/
/*    --background-end-rgb: 255, 255, 255;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --foreground-rgb: 255, 255, 255;*/
/*        --background-start-rgb: 0, 0, 0;*/
/*        --background-end-rgb: 0, 0, 0;*/
/*    }*/
/*}*/
